<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <requestLimits maxQueryString="4096" />
            </requestFiltering>
        </security>
        <handlers>
            <remove name="WebDAV"/>
            <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
            <remove name="OPTIONSVerbHandler"/>
            <remove name="TRACEVerbHandler"/>
            <add name="ExtensionlessUrlHandler-Integrated-4.0"
                 path="*."
                 verb="*"
                 type="System.Web.Handlers.TransferRequestHandler"
                 preCondition="integratedMode,runtimeVersionv4.0"/>
        </handlers>
        <modules>
            <remove name="WebDAVModule"/>
            <remove name="IISCORSModule"/>
        </modules>
    </system.webServer>
</configuration>